.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

reconUI/build
*.iml
app/*.iml
reconUI/*.iml

screen/
screen*.png
screen*.rgba
reconjet.gif
reconjet.psd
*capture.sh

/app/release